<div class="contents">
<h1>今週の献立</h1>
<div class="kondate">
  <% @menus.each do |menu| %>
    <div class=user_name>
     <a href="/users/<%= menu.user.id %>"><%="#{menu.user.name}さん"%></a>
    </div> 
      
    
    <div class="week">
        <div class="week-menu">
          <p>日曜日</p>
          <hr>
          <%= menu.sokuseki.name %>
          <p><%= menu.sun_making %></p>
        </div> 
        <div class="week-menu">
          <p>月曜日</p>
          <hr>
          <%= menu.sokuseki_mon.name %>
          <p><%= menu.mon_making %></p>
        </div>

        <div class="week-menu">
          <p>火曜日</p>
          <hr>
          <%= menu.sokuseki_tue.name %>
          <p><%= menu.tue_making %></p>
        </div>

        <div class="week-menu">
           <p>水曜日</p>
           <hr>
           <%= menu.sokuseki_wed.name %>
           <p><%= menu.wed_making %></p>
        </div>

        <div class="week-menu">
          <p>木曜日</p>
          <hr>
          <%= menu.sokuseki_thu.name %>
          <p><%= menu.thu_making %></p>
        </div>
        <div class="week-menu">
          <p>金曜日</p>
          <hr>
          <%= menu.sokuseki_fri.name %>
          <p><%= menu.fri_making %></p>
        </div>

        <div class="week-menu">
           <p>土曜日</p>
           <hr>
           <%= menu.sokuseki_sat.name %>
           <p><%= menu.sat_making %></p>
        </div>
    </div>
  <% end %>
  </div>
</div>