<div class="contents">
<h1>今週の献立</h1>
<div class="kondate">
  <% @menus.each do |menu| %>
    
     <p><%= link_to "#{menu.name}さん", menu_path(menu.id), method: :get %></p>
    <div class="week">
        <div class="week-menu">
          <p>日曜日</p>
          <hr>
          <p><%= menu.sun_menu %></p>
          <%= menu.sokuseki.name %>
          <p><%= menu.sun_making %></p>
        </div> 
        <div class="week-menu">
          <p>月曜日</p>
          <hr>
          <p><%= menu.mon_menu %></p>
          <%= menu.sokuseki.name %>
          <p><%= menu.mon_making %></p>
        </div>

        <div class="week-menu">
          <p>火曜日</p>
          <hr>
          <p><%= menu.tue_menu %></p>
          <%= menu.sokuseki.name %>
          <p><%= menu.tue_making %></p>
        </div>

        <div class="week-menu">
           <p>水曜日</p>
           <hr>
          <p><%= menu.wed_menu %></p>
          <%= menu.sokuseki.name %>
           <p><%= menu.wed_making %></p>
        </div>

        <div class="week-menu">
          <p>木曜日</p>
          <hr>
          <p><%= menu.thu_menu %></p>
          <%= menu.sokuseki.name %>
          <p><%= menu.thu_making %></p>
        </div>
        <div class="week-menu">
          <p>金曜日</p>
          <hr>
          <p><%= menu.fri_menu %></p>
          <%= menu.sokuseki.name %>
          <p><%= menu.fri_making %></p>
        </div>

        <div class="week-menu">
           <p>土曜日</p>
           <hr>
          <p><%= menu.sat_menu %></p>
          <%= menu.sokuseki.name %>
          <p><%= menu.sat_making %></p>
        </div>
    </div>
  <% end %>
  </div>
</div>