<!DOCTYPE html>
<html>
  <head>
    <title>Kondate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
        <div class="row">
          <div class="col">
             <h1><a href="/">KONDATE</a></h1>
          </div>
          <div class="align-right">   
             <a href="/menus/new">投稿する</a>
          </div>   
        </div>
    </header>
    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
